#loginform input, #lostpasswordform input {
    padding: 0!important;
    margin: 0;
    border: none;
    width: auto;
    border-radius: 0;
    background: none;
    max-width: unset;
    max-height: unset;
    line-height: unset;
    display: inline-block;
    font-size: unset;
}