#use-api, #use-api2, #use-api3 {
    margin-top: 5px;
    display: block;
}
.mdx-exp {
    font-weight: 500;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .5);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 5px;
}
.mdx-color-preview {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    vertical-align: middle;
    margin-right: 5px;
}
.mdx-red {
    background-color: #f44336;
}
.mdx-pink {
    background-color: #e91e63;
}
.mdx-purple {
    background-color: #9c27b0;
}
.mdx-deep-purple {
    background-color: #673ab7;
}
.mdx-indigo {
    background-color: #3f51b5;
}
.mdx-blue {
    background-color: #2196f3;
}
.mdx-light-blue {
    background-color: #03a9f4;
}
.mdx-cyan {
    background-color: #00bcd4;
}
.mdx-teal {
    background-color: #009688;
}
.mdx-green {
    background-color: #4caf50;
}
.mdx-light-green {
    background-color: #8bc34a;
}
.mdx-lime {
    background-color: #cddc39;
}
.mdx-yellow {
    background-color: #ffeb3b;
}
.mdx-amber {
    background-color: #ffc107;
}
.mdx-orange {
    background-color: #ff9800;
}
.mdx-deep-orange {
    background-color: #ff5722;
}
.mdx-brown {
    background-color: #795548;
}
.mdx-grey {
    background-color: #9e9e9e;
}
.mdx-blue-grey {
    background-color: #607d8b;
}
.mdx-white {
    background-color: white;
}
.mdx-red-fill {
    fill: #f44336;
}
.mdx-pink-fill {
    fill: #e91e63;
}
.mdx-purple-fill {
    fill: #9c27b0;
}
.mdx-deep-purple-fill {
    fill: #673ab7;
}
.mdx-indigo-fill {
    fill: #3f51b5;
}
.mdx-blue-fill {
    fill: #2196f3;
}
.mdx-light-blue-fill {
    fill: #03a9f4;
}
.mdx-cyan-fill {
    fill: #00bcd4;
}
.mdx-teal-fill {
    fill: #009688;
}
.mdx-green-fill {
    fill: #4caf50;
}
.mdx-light-green-fill {
    fill: #8bc34a;
}
.mdx-lime-fill {
    fill: #cddc39;
}
.mdx-yellow-fill {
    fill: #ffeb3b;
}
.mdx-amber-fill {
    fill: #ffc107;
}
.mdx-orange-fill {
    fill: #ff9800;
}
.mdx-deep-orange-fill {
    fill: #ff5722;
}
.mdx-brown-fill {
    fill: #795548;
}
.mdx-grey-fill {
    fill: #9e9e9e;
}
.mdx-blue-grey-fill {
    fill: #607d8b;
}
.mdx-white-fill {
    fill: #d8d8d8;
}
.mdx-a-red {
    background-color: #ff5252;
}
.mdx-a-pink {
    background-color: #ff4081;
}
.mdx-a-purple {
    background-color: #e040fb;
}
.mdx-a-deep-purple {
    background-color: #7c4dff;
}
.mdx-a-indigo {
    background-color: #536dfe;
}
.mdx-a-blue {
    background-color: #448aff;
}
.mdx-a-light-blue {
    background-color: #40c4ff;
}
.mdx-a-cyan {
    background-color: #18ffff;
}
.mdx-a-teal {
    background-color: #64ffda;
}
.mdx-a-green {
    background-color: #69f0ae;
}
.mdx-a-light-green {
    background-color: #b2ff59;
}
.mdx-a-lime {
    background-color: #eeff41;
}
.mdx-a-yellow {
    background-color: #ffff00;
}
.mdx-a-amber {
    background-color: #ffd740;
}
.mdx-a-orange {
    background-color: #ffab40;
}
.mdx-a-deep-orange {
    background-color: #ff6e40;
}
.mdx-a-red-fill {
    fill: #ff5252;
}
.mdx-a-pink-fill {
    fill: #ff4081;
}
.mdx-a-purple-fill {
    fill: #e040fb;
}
.mdx-a-deep-purple-fill {
    fill: #7c4dff;
}
.mdx-a-indigo-fill {
    fill: #536dfe;
}
.mdx-a-blue-fill {
    fill: #448aff;
}
.mdx-a-light-blue-fill {
    fill: #40c4ff;
}
.mdx-a-cyan-fill {
    fill: #18ffff;
}
.mdx-a-teal-fill {
    fill: #64ffda;
}
.mdx-a-green-fill {
    fill: #69f0ae;
}
.mdx-a-light-green-fill {
    fill: #b2ff59;
}
.mdx-a-lime-fill {
    fill: #eeff41;
}
.mdx-a-yellow-fill {
    fill: #ffff00;
}
.mdx-a-amber-fill {
    fill: #ffd740;
}
.mdx-a-orange-fill {
    fill: #ffab40;
}
.mdx-a-deep-orange-fill {
    fill: #ff6e40;
}
.mdx-svg-preview {
    width: 250px;
}
.mdx-svg-preview svg {
    width: 100%;
    margin-top: 5px;
}
#insert-media-button, #use-bing-api, #insert-media-button-3, #insert-media-button-4, #change-color {
    display: block;
    margin-top: 5px;
}
#TB_ajaxContent {
    width: 100%!important;
    height: calc(100% - 30px)!important;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f1f1f1;
}
.wp-picker-clear {
    margin-left: 5px!important;
    min-height: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
}
#change-color {
    display: inline-block;
}
.nav-tab:focus {
    box-shadow: none;
}
tbody.mdx-admin-section {
    display:  none;
}
tbody.mdx-admin-section.mdx-admin-section-active{
    display: table-row-group;
}
p.submit {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 16px 20px 40px 0;
    margin: 0;
    background: #f9f9f9;
    z-index: 0;
    border-top: 1px solid #ccc;
}
.form-table {
    margin-bottom: 60px;
}
#wpfooter {
    position: fixed;
}
@media (max-width: 782px){
    p.submit {
        padding: 12px 15px 12px 0;
    }
    p.submit #submit {
        margin: 0;
    }
    .form-table {
        margin-bottom: 5px;
    }
}